* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  width: 400px;
  border-radius: 5px;
  -webkit-box-shadow: 24px 24px 18px -16px rgba(161, 152, 161, 1);
  -moz-box-shadow: 24px 24px 18px -16px rgba(161, 152, 161, 1);
  box-shadow: 24px 24px 18px -16px rgba(161, 152, 161, 1);
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}
.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 8px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control.success input {
  border-color: #2ecc71;
}
.form-control.error input {
  border-color: #e74c3c;
}

.form-control small {
  color: #e74c3c;
  position: absolute;

  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  color: #fff;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
